<!--content-->
<!-- First Band (Slider) -->

<!--Orbit-->

<div class="row">
  <div class="large-12 large-centered columns">
    <div class="orbit-container">
      <ul data-orbit data-options="timer_speed:2500">
        <li><%= image_tag "banners/1.jpg" %>

          <div class="orbit-caption">به لیدر های مان تور به مکان های جدید پیشنهاد دهید</div>
        </li>
        <li><%= image_tag "banners/2.jpg" %>

          <div class="orbit-caption">با معرفی دوستان خود به سایت ما، از تخفیف های ویژه برخوردار شوید</div>
        </li>
        <li><%= image_tag "banners/3.jpg" %>

          <div class="orbit-caption">به لیدر های مان تور به مکان های جدید پیشنهاد دهید</div>
        </li>
        <li><%= image_tag "banners/4.jpg" %>

          <div class="orbit-caption">به لیدر های مان تور به مکان های جدید پیشنهاد دهید</div>
        </li>
        <li><%= image_tag "banners/5.jpg" %>

          <div class="orbit-caption">به لیدر های مان تور به مکان های جدید پیشنهاد دهید</div>
        </li>
      </ul>
    </div>
  </div>
</div>

<hr>

<!-- Call to Action Panel -->
<div class="row">
  <div class="large-12 columns">

    <div class="panel">
      <h1>سفرک!</h1>

      <div class="row">


        <div class="large-9 large-push-3  columns">
          <p> خسته وکوفته اید؟<br/>
            احتیاج به تنوع دارید؟<br/>
            می خواهید مشافرت برید اما حال و حو
            صله تنظیم آن یا وقت کافی برای رفتن را ندارید؟<br/>
            توریستینگ راه حل شماست!<br/>
            با پیوستن به مجموعه ی ما شما می توانید با کمترین هزینه و درد سر تور یک روزه مناسب خود را انتخاب
            کنید و همراه دوستان جدید یا قدیمی به مکان های تاریخی تفریحی که همیشه دوست داشتید بریدسفر
            کنیدد.<br/>


          </p>
        </div>

        <div class="large-3  columns large-pull-9">
          <ul class="my-vertical-button-bar">
            <!--<li><a href="/" class="radius button success">عضویت</a></li>-->
            <li><%= link_to "عضویت", new_user_registration_path, :class => "button radius success" %></li>
            <li><%= link_to "بازدید تورها", tours_path, :class => "button radius success" %></li>
            <!--<li><%= link_to 'dssdsdsd', controller: 'tours' %></li>-->
          </ul>

        </div>

      </div>
    </div>

  </div>
</div>


<!-- Three-up Content Blocks -->

<div class="row three-columns" data-equalizer>
  <div class="large-4 columns " >
    <div class="panel" data-equalizer-watch>
      <%= image_tag "misc/1.jpg" %>
      <h4>آبشار یخی</h4>

      <p> 
      آبشار یخی آبشاری است در ارتفاع ۵۱۰۰ متری از جبههٔ جنوبی کوه دماوند.

ارتفاع این آبشار بین ۷[۱] تا ۱۲ متر گفته شده و به جز در زمان‌های کوتاهی از تابستان که برای مدت کوتاهی باریکهٔ آبی از کنار آن جاری می‌شود، در سایر زمان‌ها یخ‌زده است. دسترسی به این آبشار، نیازمند منحرف‌شدن از مسیر اصلی جبههٔ جنوبی است.

این آبشار با قرار داشتن در ارتفاع ۵۱۰۰ متری، از نظر ارتفاع از سطح دریا مرتفع‌ترین آبشار خاورمیانه است

        </p>
    </div>
  </div>

  <div class="large-4 columns " >
    <div class="panel" data-equalizer-watch>
      <%= image_tag "misc/2.jpg" %>
      <h4>کویر شهداد</h4>

      <p>
شهداد با نام تاریخی خبیص و جمعیت ۱۵۰۰۰ نفری، در ۷۰ کیلومتری شمال شرق کرمان، در حاشیه باختری لوت مرکزی قرار گرفته‌است و کویری‌ترین بخش استان کرمان به شمار می‌رود. این ناحیه از کرمان، هیچگاه مورد توجه باستان شناسان نبود، زیرا تصور وجود تمدن باستانی در صحرای خشک لوت غیر ممکن بود. اولین هئیت کاوش در سالهای ۱۳۴۶ به سرپرستی دکتر احمد مستوفی- از موسسه جغرافیایی دانشگاه تهران – برای بررسی موقعیت جغرافیایی دشت لوت و اطراف آن وارد آنجا شدند و در حین اکتشافات خود « چاله تکاب » به تعدادی سفال برخورد کردند که قسمتی از آنها از زمین بیرون و این آثار نشان از وجود تمدنی پیشرفته در این ناحیه بود. درفش شهداد کهن‌ترین درفش یافت شده در ایران است که اکنون در موزه ملی نگه داری می‌شود 
        </p>
    </div>
  </div>

  <div class="large-4 columns " >
    <div class="panel" data-equalizer-watch>
      <%= image_tag "misc/3.jpg" %>
      <h4>قله توچال</h4>

      <p> 
توچال قلّه‌ای در شمال تهران و به ارتفاع ۳۹۶۲ متر می‌باشد که بخشی از دامنه رشته‌کوه‌های البرز است. دامنهٔ جنوبی توچال مجاور با شهر تهران و قلهٔ آن مشرف به این شهر است.

مشهورترین و پر رفت و آمدترین پناهگاه‌ها و جان‌پناه‌های توچال به ترتیب از شرق به غرب دارآباد، کلک‌چال، شروین، شیرپلا، جان پناه قله توچال، امیری، هتل اوسون، ایستگاه پنجم تله کابین، اسپیدکمر و پلنگ‌چال هستند که همگی آن‌ها مشرف به تهران هستند. 
        </p>
    </div>
  </div>

</div>


<!--calender & newsletter-->
<div class="row" data-equalizer>
  <div class="large-6 columns">
    <div class="panel callout" data-equalizer-watch>
      <h3>فروردین</h3>
      <table id="calender">
        <tr>
          <th>شنبه</th>
          <th>یک شنبه</th>
          <th>دو شنبه</th>
          <th>سه شنبه</th>
          <th>چهار شنبه</th>
          <th>پنج شنبه</th>
          <th>جمعه</th>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td class="date-canceled">11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
        </tr>
        <tr>
          <td class="date-signed-up">15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21
        </tr>
        </tr>
        <tr>
          <td>22</td>
          <td class="date-upcoming">23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
        </tr>
        <tr>
          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="large-6 columns ">
    <div class="panel callout"><h3>خبرنامه</h3>

      <div id="news">

      </div>
    </div>
  </div>

</div>

<!-- Call to Action Panel -->
<div class="row">
  <div class="large-12 columns">

    <div class="panel">
      <h4> با ما تماس بگیریید!</h4>

      <div class="row">
        <div class="large-9 columns large-push-3">
          <p>منتظر نظرات، .یشنهادات و انتقادهای شما هستیم</p>
        </div>
        <div class="large-3 columns large-pull-9">
          <a href="/home/contact" class="radius button right">تماس با ما</a>
        </div>
      </div>
    </div>

  </div>
</div>

